.form-group {
    @include displayFlex(null, null, 0.5rem, column);
    margin-bottom: 1rem;

    @include respondTo(sm) {
        @include displayGrid(4fr 6fr, 0.25rem);
        align-items: center;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @import "../../components/form/label";
    @import "../../components/form/control";
}
