h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    font-family: $font-secondary;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: $primary;
}

h3,
h4 {
    font-size: 1.15rem;
    line-height: 1.25rem;
    text-transform: initial;
    text-align: left;
}

hr {
    margin-bottom: 1rem;
    border: 1px solid rgba($black, 0.2);
}

ul {
    padding-left: 1.25rem;
    list-style: initial;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    li {
        margin-left: 1.25rem;
        margin-bottom: 0.5rem;
        line-height: 1.15rem;
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        overflow-wrap: break-word;
        word-wrap: break-word;
        orphans: 2;
        widows: 2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

p {
    margin-bottom: 1rem;
    line-height: 1.15rem;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    orphans: 2;
    widows: 2;

    &:last-child {
        margin-bottom: 0;
    }

    &.subtitle {
        font-style: italic;
        line-height: 1.25rem;
        text-align: center;
        color: rgba($black, 0.5);
    }
}

strong {
    font-family: $font-secondary;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: $primary;
    transition: all 0.3s;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        color: $secondary;

        strong {
            color: $secondary;
        }
    }
}
