/* SPACING */
.m-0 {
    margin: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 1.5rem !important;
}

.mt-2 {
    margin-top: 1.5rem !important;
}

/* ALIGNMENT */
.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.centered {
    display: grid;
    place-items: center;
}

/*VISIBILITY */
.hidden-xs {
    @include respondTo(xs) {
        display: none !important;
    }
}

/* BACKGROUNDS */
.bg-white {
    background-color: $white !important;
}

.bg-alt {
    background-color: rgba($secondary, 1) !important;

    h2 {
        color: $white !important;
    }

    .app-button {
        background-color: $white !important;

        &:hover {
            color: $secondary !important;
        }
    }
}
