/* COLORS */
$black: #111111;
$white: #ffffff;

$info: #4343f2;
$success: #2a9a2a;
$warning: #b17e20;
$error: #ab1f1f;

$primary: #00556A;

/*FONTS */
$font-primary: system-ui, sans-serif;
$font-secondary: "Montserrat", sans-serif;
