.app-badge {
    padding: 0.5rem 0.75rem;
    font-family: $font-secondary;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color:  $primary;
    background-color: rgba($primary, 0.15);
    border-radius: 0.25rem;

    &.outline{
        font-size: 0.85rem;
        color:  $primary;
        background-color: transparent;
    }
}
