.app-badge {
    display: inline-block; padding: 0.3rem 0.6rem; font-family: $font-primary;
    font-size: 0.7rem; font-weight: 600; line-height: 1.5; letter-spacing: 0.02em;
    text-transform: uppercase; text-align: center; color: $primary; background-color: #eef5f9;
    border-radius: 4px; overflow-wrap: anywhere;
    &.outline { background-color: transparent; }
}
