.app-badge {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color:  rgba($black, 0.75);
    background-color: rgba($black, 0.15);
    border-radius: 0.25rem;
}
