.app-button {
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $primary;
    background-color: rgba($primary, 0.25);
    border: 2px solid $primary;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $white;
        background-color: rgba($secondary, 1);
        border-color: $secondary;
    }

    &.download {
        font-size: 0.75rem;
    }

    &.outline {
        font-size: 0.85rem;
        border-color: transparent;
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: rgba($secondary, 1);
            border-color: $secondary;
        }
    }

    &:disabled {
        color: rgba($black, 0.15);
        background-color: rgba($primary, 0.25);
        border-color: rgba($primary, 0.25);
        pointer-events: none;
        user-select: none;
        cursor: not-allowed;
    }

    small {
        display: block;
        margin-bottom: 0.25rem;
        font-size: 0.5em;
        text-align: center;
    }
}
