.app-footer {
    margin-bottom: 2.75rem;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    color: $white;
    background-color: $primary;

    @include respondTo(sm) {
        margin-bottom: 0;
        padding: 0.5rem 3rem;
    }

    .copyrights {
        margin-bottom: 1rem;
        text-align: center;

        @include respondTo(sm) {
            margin-bottom: 0;
        }
    }

    .footerlinks {
        @include displayFlex(center, center, 0.75rem);

        a {
            text-decoration: none;
            color: $white;
            transition: color 0.3s;

            &.active,
            &:hover {
                color: $secondary;
            }
        }
    }

    @include respondTo(sm) {
        @include displayFlex(space-between, center, 0.5rem);
    }
}
