::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

html {
    scroll-behavior: smooth;

    .turbo-progress-bar {
        height: 0.5rem;
        background-color: $primary;
        border-bottom-right-radius: 0.25rem;
    }

    body {
        @include displayFlex(space-between, null, null, column);
        min-height: 100dvh;
        font-family: $font-primary;
        color: $black;
        background-color: rgba($black, 0.15);

        @import "./header";
        @import "./navigation";
        @import "./main";
        @import "./toc";
        @import "./form";
        @import "./footer";

        &:not(:has(.app-navigation)) {
            .app-footer {
                margin-bottom: 0;
            }
        }
    }
}
