.app-main {
    flex: 1;

    &.center {
        @include displayFlex(center, null, null, column);
    }

    @include respondTo(lg) {
        margin: 0 auto;
        width: 1200px;
    }

    article {
        margin: 0 0.5rem;

        @include respondTo(sm) {
            margin: 1.5rem;
            margin-left: 0;
        }
    }

    aside {
        margin: 0 0.5rem;

        @include respondTo(sm) {
            margin-right: 0 !important;
            padding: 1.5rem 0.5rem 1.5rem 1.5rem !important;
        }
    }

    @import "./section";
}
