.app-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @include displayFlex(center, center, 0.5rem);

    @include respondTo(sm) {
        position: initial;
    }

    a {
        padding: 0.5rem;
        font-family: $font-secondary;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba($white, 0.75);
        transition: color 0.3s;

        &:hover {
            color: $white;
        }

        &.active {
            color: $secondary;
        }
    }
}
