.app-toc {
    h2 {
        margin-bottom: 0.25rem;
    }

    .subtitle {
        margin-bottom: 1rem;
    }

    .toc {
        overflow-y: auto;
        max-height: 25dvh;
        padding: 0.5rem 0.5rem 0.5rem 0;

        @include respondTo(sm) {
            max-height: 68dvh;
        }

        a {
            @include displayGrid(3rem 1fr, 0.25rem);
            align-items: center;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            font-family: $font-secondary;
            font-size: 0.75rem;
            text-decoration: none;
            color: $black;
            border: 1px solid rgba($black, 0.25);
            border-radius: 0.25rem;
            transition: all 0.3s;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover,
            &.active {
                background-color: rgba($primary, 0.15);
                border-color: $primary;

                .app-badge {
                    color: $primary;
                    background-color: $white;
                }
            }

            .app-badge {
                @include displayFlex(center, center);
                padding: 0.25rem;
                transition: all 0.3s;
            }
        }
    }
}
