.app-toc {
    @include respondTo(sm) {
        position: sticky;
        top: 5.2em;
    }

    h2 {
        margin-bottom: 0.25rem;
    }

    .subtitle {
        margin-bottom: 0;
    }

    .toc {
        overflow-y: auto;
        max-height: 76.5dvh;
        padding: 0.5rem 0.5rem 0.5rem 0;

        @include respondTo(sm) {
            max-height: 76.5dvh;
        }

        a {
            display: block;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            font-size: 0.75rem;
            line-height: 1rem;
            text-decoration: none;
            color: $black;
            border: 1px solid rgba($black, 0.25);
            border-radius: 0.25rem;
            transition: all 0.3s;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                background-color: rgba($primary, 0.15);
                border-color: $primary;

                .app-badge {
                }
            }

            &.active {
                color: $white;
                background-color: $secondary;
                border-color: $secondary;

                .app-badge {
                    color: $white;
                }
            }

            .app-badge {
                display: block;
                padding: 0;
                text-align: left;
                color: $primary;
                background-color: transparent;
                transition: all 0.3s;
            }
        }
    }
}
